main{
    height: 100vh;
}
#container{
    height: 100%;
    background-color: #6952c5;
}
h3{
    color: #fff;
}
form{
    gap: 15px;
}
input{
    height: auto;
    width: 300px;
}
label{
    color: white;
}