<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">ToDoApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" id="btnToggler">
            <span class="navbar-toggler-icon light"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <button class="btn btn-outline-light" *ngIf="router.url === '/task-form' || router.url.startsWith('/task-detail/')" (click)="navigateTaskList()">
                        Voltar
                    </button>
                    <button class="btn btn-outline-light" *ngIf="isEdit" (click)="navigateTaskList()">
                        Cancelar
                    </button>
                    <button class="btn btn-outline-light" *ngIf="router.url === '/task-list'" (click)="navigateTaskForm()">
                        Adicionar Tarefa
                    </button>
                </li>
                <li class="nav-item me-2">
                    <button class="btn btn-outline-light" (click)="fazerLogout()">Sair</button>
                </li>
            </ul>
        </div>
    </div>
</nav>