<main class="d-flex justify-content-center align-items-center container-fluid">
    <section class="d-flex align-items-center flex-column">
        <h3>Faça seu login</h3>
        <form (ngSubmit)="submit()" [formGroup]='loginForm' class="d-flex flex-column"> 
            <div>
                <label for="email" class="form-label">E-mail</label>
                <input
                    type="text" 
                    formControlName="email"
                    id="email" 
                    placeholder="name@domain.com" 
                    class="form-control" 
                    required
                >
                <div *ngIf="email.invalid && (email.dirty || email.touched || submitted)">
                    <small *ngIf="email.errors?.['required']">Email é obrigatório</small>
                    <small *ngIf="email.errors?.['email']">Formato de email inválido</small>
                </div>
            </div>
            <div>
            <label for="password" class="form-label">Senha</label>
            <input 
                type="password" 
                formControlName="password"
                id="password" 
                class="form-control" 
                placeholder="Digite sua senha" 
                required
            >
            <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
                <small *ngIf="password.errors?.['required']">Senha é obrigatória</small>
                <small *ngIf="password.errors?.['minlength']">Formato da senha inválido</small>
            </div>
            </div>
            <button type="submit" class="btn btn-outline-light" id="btnLogin">Entrar</button>
            <div class="divider">
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button class="btn btn-outline-light" id="btnRegistrar" (click)="navigate()">Fazer cadastro</button>
        </form>
    </section>
</main>